:root {
	--accent: darkred;
	--shy: rgba(255, 255, 255, .3);
	--small-round: .42vw;
	--small-space: .5vw;
}

* {
	color-scheme: dark;
	box-sizing: border-box;
	
	font-family: Roboto, sans-serif;
	font-size: 2.3vw;
}

html, body {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	min-height: 100vh;
}

img {
	max-width: 90%;
	display: block;
	border-radius: var(--small-round);
}

#curtain {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: darkslategray;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	transition: opacity .4s;
}

#login {
	width: 100%;
	height: 100vh;
	padding: 0 25% 0 25%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
}

.tabbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 100%;
	margin: 1vw 0 1vw 0;

	border-style: solid;
	border-width: 0;
	border-bottom-width: .2vw;
	border-color: var(--shy);
}

.tab {
	display: inline-block;
	padding: .5vw 1.5vw .5vw 1.5vw;
	border-width: 0;
	border-bottom-width: var(--small-round);
	border-radius: var(--small-round);
}

.tab.selected {
	border-style: solid;
	border-color: var(--accent);
}

.tag {
	padding: var(--small-space);
	margin: var(--small-space);
	border-radius: var(--small-round);
}

.button {
	padding: var(--small-space);
	margin: var(--small-space);
	border-radius: var(--small-round);
	transition: background-color .7s;
	cursor: pointer;
}

.button:hover {
	background-color: rgba(255, 255, 255, .3);
}

.button:active {
	background-color: var(--accent);
}

#main {
	width: 80%;
	margin: auto;
}

.wide {
	width: 100%;
}

.page {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.row {
	display: flex;
	margin: 0 2% 1vw 2%;
	flex-flow: row wrap;
	align-items: baseline;
	width: 100%
}

.flexCenter {
	justify-content: center;
}

.col {
	margin-left: 2%;
	text-align: right;
}

.halfWide {
	width: 45%;
}

.wideButton {
	padding: var(--small-space);;
	margin: var(--small-space);;
	min-width: 10vw;
	text-align: center;
}

.section {
	background-color: rgba(0, 0, 0, .2);
	border-radius: var(--small-round);
}

.approved {
	background-color: hsla(100, 72%, 23%, .42);
}

.rejected {
	background-color: hsla(0, 72%, 23%, .42);
}

.previewSection {
	align-items: start;
}

.previewImage {
	width: 30%;
	max-height: 32vh;
	border-radius: var(--small-round);
	margin: var(--small-space);
}

.hidden {
	display: none !important;
}