.bordered {
	border: var(--dims-line) solid var(--color-secondary);
	border-radius: var(--dims-rounding);
}

.hoverable {
	transition: border-color var(--transition-time);
}
.hoverable:hover {
	border-color: var(--color-accent)
}

.solid {
	background-color: var(--color-secondary);
	border-radius: var(--dims-rounding);
}